streamlit
numpy
pandas
plotly
Pillow
opencv-python-headless
mediapipe
deepface
tensorflow-cpu

# System dependencies (packages.txt)
# libgl1-mesa-glx
# libglib2.0-0
# libsm6
# libxrender1
# libfontconfig1
